.sonicGamesButton{

    padding: 0;
    border: none;
    background: none;
    transition: transform 250ms;


}

.sonicGamesButton:hover { 
    transform: scale(1.25);
    cursor: pointer;

}

.listaJuegos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.imgCover{
    border-radius: 17%;
    width: 170px;
    height: 240px;
    object-fit: cover;

}

.title{
    text-align: center;  
    font-size: x-large;
}

.redes{

    margin-top: 0px;
    text-align: right;
    
}

.socialButton{

    border: none;
    background: none;
    transition: transform 250ms;

}

.instagram, .youtube, .playlist{

    color: white;
    font-size: 40px;

}

.playlist{

    font-size: 60px;

}

.instagram:hover{

    transition: color 0.25s;
    color: rgb(255, 0, 170);

}

.youtube:hover{

    transition: color 0.25s;
    color: rgb(255, 0, 0);

}

.playlist:hover{

    transition: color 0.25s;
    color: rgb(0, 0, 0);

}

.foot{

    display: flex;
    align-items: center;
    justify-content: space-between;

}


body{
    color: white;
    margin: 0;
    font-family: "Inter", sans-serif;
    background: rgb(10,15,38);
    background: linear-gradient(180deg, rgba(10,15,38,1) 20%, rgba(113,131,225,1) 100%);

}

article{

    font-family: "Inter", sans-serif;
    font-weight: 200;

}

h1{

    font-weight: 500;

}

h3{

    font-weight: 400;
    margin: 0;

}